<div class="container">
    <ul class="list-unstyled list-inline text-center py-2">
      <li class="list-inline-item">
        <h5 class="mb-1">TP Projet Architectures Orienté Services</h5>
        <h6>Design réalisé avec Bootstrap</h6>
        <div>Icons made by <a href="https://www.flaticon.com/authors/dave-gandy" title="Dave Gandy">Dave Gandy</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
      </li>
    </ul>
  </div>

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
      © Mars 2020 Corentin BOSQUET - IMR2 - ENSSAT
  </div>
  <!-- Copyright -->